.cardView{
    width: 30%;
    margin-left: 30px;
    margin-top: 20px;
}
.cardList{
    display: flex;
    width: 80%;
    margin: 20px;
}
.watchName{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(223, 230, 230);
}
mat-card-title{
    border-left-style: solid;
    border-left-color: #347aeb;
    padding-left: 10px;
}
.delete{
    position: absolute;
    right: 10px;
    top: 15px;
}
.select{
    position: absolute;
    right: 120px;
    top: 15px;
}
Img{
    width: 25px;
}
