.cardView{
    width: 60%;
    margin-left: 30px;
    margin-top: 20px;
}
.mat-card{
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius:10px;
  }
mat-card-title{
    border-left-style: solid;
    border-left-color: #347aeb;
    padding-left: 10px;
}
mat-card-subtitle{
    padding-left: 20px;

}
.mat-button{
    padding-left: 5%;
    padding-right: 5%;
}
.price{
    font-size: 20px;
    color: red;
    float: right;
    margin-top: 10px;
    border-left-style: hidden;
    padding-right: 40px;
}
.dayChange{
    font-size: 15px;
    float: right;
    padding-right: 40px;
}
Img{
    width: 25px;
}