<diV class="priceDepth">
<table mat-table [dataSource]="ELEMENT_DATA" class="mat-elevation-z8">
  
    <!-- Qty Column -->
    <ng-container matColumnDef="buyQty">
      <th mat-header-cell *matHeaderCellDef> Qty </th>
      <td mat-cell *matCellDef="let element"> {{element.buyQty}}</td>
    </ng-container>
  
    <!-- Orders Column -->
    <ng-container matColumnDef="buyOrder">
      <th mat-header-cell *matHeaderCellDef> Orders </th>
      <td mat-cell *matCellDef="let element">{{element.buyOrder}}</td>
    </ng-container>
  
    <!-- Bid Column -->
    <ng-container matColumnDef="bid">
      <th mat-header-cell *matHeaderCellDef> Bid </th>
      <td mat-cell *matCellDef="let element">{{element.bid}}</td>
    </ng-container>
  
    <!-- Ask Column -->
    <ng-container matColumnDef="ask">
      <th mat-header-cell *matHeaderCellDef> Ask </th>
      <td mat-cell *matCellDef="let element">{{element.ask}}</td>
    </ng-container>

    <!-- Orders Column -->
    <ng-container matColumnDef="sellOrder">
        <th mat-header-cell *matHeaderCellDef> Orders </th>
        <td mat-cell *matCellDef="let element">{{element.sellOrder}}</td>
      </ng-container>
  
    <!-- Qty Column -->
    <ng-container matColumnDef="sellQty">
        <th mat-header-cell *matHeaderCellDef> Qty </th>
        <td mat-cell *matCellDef="let element">{{element.sellQty}}</td>
      </ng-container>
    

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</diV>